.pav {
    background-image:url("../images/festas1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.pav1{
	background-image: url("../images/feestas2.jpg");
	background-repeat: no-repeat;
    background-size: cover;
}
.pav2{
	background-image:url("../images/festas3.jpg");
	background-repeat: no-repeat;
    background-size: cover;
}
.logo{
	position: absolute;
    margin:0 auto;
    width: 100px;
    top:10px;
    text-align: center;
    margin: 0 auto;
}
.karuselei{
	margin-top:100px;
	margin-left:5px;
	margin-right:5px;
}
.karuseles1 {
    background-image:url("../images/1a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	height:550px !important;
	background-position: center center;
}
.karuseles2 {
    background-image:url("../images/1b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	height:550px !important;
	background-position: center center;
}
.karuseles3 {
    background-image:url("../images/1c.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	height:550px !important;
	background-position: center center;
}
.karuseles4 {
    background-image:url("../images/1n.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	height:550px !important;
	background-position: center center;
}
.karuseles5 {
    background-image:url("../images/1e.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	height:550px !important;
	background-position: center center;
}
.karuseles6 {
    background-image:url("../images/1v.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	height:550px !important;
	background-position: center center;
}
.karuseles7 {
    background-image:url("../images/1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	height:550px !important;
	background-position: center center;
}
.tekstoDydis{
	font-size:26px;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
}
.nuleisti{
	margin-top: 10px;
}
.carousel-item img{
	margin-top: 0px;
    height: 100%;
    width: 100%;
}
body{
	background-color: #d2c2dc;
}
.grido-pavyzdys .col {
	min-height: 75px;
}

img.foto1 {
	width: 500px;
	height: 400px;
	border: 5px solid black;
	padding: 5px;
	background-color: red;
	/*margin-top: 93px;*/
	position : left;
}

img.foto2 {
	width: 500px;
	height: 400px;
	border: 5px solid black;
	padding: 5px;
	background-color: red;
	/*margin-top: 93px;*/
	position : center;
}

img.foto3 {
	width: 500px;
	height: 400px;
	border: 5px solid black;
	padding: 5px;
	background-color: red;
	/*margin-top: 93px;*/
	position : right;
}

.pavadinimas {
	text-align: center;
	background-image: url("../images/rock.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	background-position: center center;
}
.tekstas{
position: relative;
	    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20vw;
}
}
.fonas {
	color: white;
	margin-bottom: 10px;
}

.zemelapis {
	height: 500px;
	width: 100%;
}
.intro {
	text-align: justify;
}
.insto {
	height: 100px;
}
.rock1{
	background-image:url("../images/rock1.jpg");
	background-repeat: no-repeat;
    background-size: cover;
}
* {box-sizing:border-box}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.secondary-content{
	font-style: italic;
}
.utube {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}
.menas .row {
	margin-bottom: 0;
}
.pavPataisymai{
	background-image:url("../images/1a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.singleNaujas1{
	margin-top:10px;
	height:100%; width:100%;
	margin-bottom:10px;
}
h2{
	text-align:center;
	font-size:20px;
}
.atitraukimasHome{
	margin-left:5px;
}
.pirmaEilute {
    text-indent: 20px;
	text-align: justify;
    text-justify: inter-word;
}
.stiliusKar{
	    position: relative;
	    position: absolute;
    bottom: 64px;
    left: 50%;
    transform: translateX(-50%);
}
.still{
	position: relative;
}
.zemyn{
  margin-top: 120px;
}