
.grido-pavyzdys .col {
	min-height: 75px;
}

img.foto1 {
	width: 500px;
	height: 400px;
	border: 5px solid black;
	padding: 5px;
	background-color: red;
	/*margin-top: 93px;*/
	position : left;
}

img.foto2 {
	width: 500px;
	height: 400px;
	border: 5px solid black;
	padding: 5px;
	background-color: red;
	/*margin-top: 93px;*/
	position : center;
}

img.foto3 {
	width: 500px;
	height: 400px;
	border: 5px solid black;
	padding: 5px;
	background-color: red;
	/*margin-top: 93px;*/
	position : right;
}

.pavadinimas {
	text-align: center;
	font-size: 200px;
	background-image: url("../images/rock.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
}

.fonas {
	color: white;
	margin-bottom: 10px;
}

.zemelapis {
	height: 500px;
	width: 100%;
}
.intro {
	text-align: justify;
	margin-right: 
}
.insto {
	height: 100px;
}